<!DOCTYPE html>
<html>
<head>
  <title>Rails Treinamento</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="row">
    <div class="navbar navbar-default navbar-fixed-top header">
      <div class="container-fluid ">
        <div class="navbar-header">
          <a class="navbar-brand">
            <%= link_to 'Codditus', home_index_path,  class: "brand d-inline-block align-center" %>
          </a>
        </div>
      </div>
    </div>
  </div>
  <%= yield %>
</body>
</html>
