<!DOCTYPE html>
<html>
<head>
  <title>Rails Treinamento</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="row">
    <div class="navbar navbar-default navbar-fixed-top header">
      <div class="container-fluid ">
        <div class="navbar-header">
          <a class="navbar-brand">
            <%= link_to 'Codditus', home_index_path,  class: "brand d-inline-block align-center" %>
          </a>
        </div>
        <% if session[:user_id].nil? %>
          <a>
            <%= link_to fa_icon('user-plus'), new_user_path,  class: "btn btn-success btn-lg text-uppercase nav-link pull-right btn-up" %>
          </a>
          <a>
            <%= link_to fa_icon('sign-in'), login_url,  class: " btn btn-primary btn-lg text-uppercase nav-link pull-right btn-in" %>
          </a>
        <% else %>
        <a>
          <%= link_to fa_icon('sign-out'), sessions_destroy_path,  class: "btn btn-danger btn-lg text-uppercase nav-link pull-right btn-out" %>
        </a>
        <% end %>
      </div>
    </div>
  </div>
  <%= yield %>
</body>
</html>
