<%= form_with(model: post, local: true) do |form| %>
<% if post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
  <ul>
    <% post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="container">
  <div class="row form">
    <div class="col-md-12">
      <form class="text-center">
        <div class="form-group">
          <%= form.label :Título %>
          <%= form.text_field :title,placeholder: "Título", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :Conteúdo %>
          <%= form.text_area :content,placeholder: "Conteúdo", rows: 20,class: "form-control" %>
        </div>
        <div class="field">
          <%= form.label :tag_list, "Tags (Separadas por vígula)" %><br />
          <%= form.text_field :tag_list,placeholder: "Tags", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :Autor %>
          <%= form.text_field :autor,placeholder: "Autor", class: "form-control" %>
        </div>
        <div class="">
          <%= form.submit 'Criar post',value:"Criar post", class: "btn btn-info" %>
        </div>
      </form>
    </div>
  </div>
</div>
<% end %>
