<p id="notice"><%= notice %></p>

    <div class="container-fluid main main-posts">
      <div class="row">
        <div class="col-md-12 text-right">
          <a ><%= link_to fa_icon(:plus), new_post_path, class: "btn btn-success new"  %></a>
					<div class="row search-bar">
				    <div class="form-group col-md-6 pull-left">
              <%= form_tag(posts_path, method: :get) do %>
                <%= text_field_tag 'search', nil, placeholder: 'Digite o título do post...', class: "form-control" %>
            </div>
                <div class = "pull-left">
                  <%= button_tag fa_icon(:search), class: "btn btn-default"%>
                </div>
              <% end %>

			  	</div>

        </div>

      </div>
      <div class="row clearfix">

        <div class="col-md-3 nav-aside text-center">

          <div class="panel">
            <div class="panel-header">
              <h4>Tags</h4>
            </div>
            <ul class="list-group list-group-flush">
              <% @all_posts.each do |post| %>
                <li class="list-group-item"><%= post.title %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% @all_posts.each do |post| %>

        <div class="col-md-8">
          <div class="panel text-justify panel-post">
            <div class="panel-body ">
              <h3 class="panel-title"><%= post.title %></h3>
              <p class="panel-text content"><%= post.content.truncate(100) %></p>
							<p class="panel-text autor">Postado por <%= post.autor %></p>
              <a><%= link_to 'Leia mais', post %></a>
            </div>
          </div>
        </div>

      <% end %>

    </div>



    </div>
