<p id="notice"><%= notice %></p>

    <div class="container-fluid main main-posts">
      <div class="row">
        <div class="col-md-12 text-right">
          <a ><%= link_to fa_icon(:plus), new_post_path, class: "btn btn-success new"  %></a>
					<div class="col-md-6 search-bar">
				    <div class="input-group">
				      <input type="text" class="form-control" placeholder="Ache um post...">
				      <span class="input-group-btn">
								<%= link_to fa_icon(:search), new_post_path, class: "btn btn-default" %>
				      </span>
				    </div>
			  	</div>

        </div>

      </div>
      <div class="row clearfix">

        <div class="col-md-4 nav-aside text-center">

          <div class="panel">
            <div class="panel-header">
              <h4>Tags</h4>
            </div>
            <ul class="list-group list-group-flush">
              <% @all_posts.each do |post| %>
                <li class="list-group-item"><%= post.title %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% @all_posts.each do |post| %>

        <div class="col-md-8">
          <div class="panel text-justify panel-post">
            <div class="panel-body ">
              <h3 class="panel-title"><%= post.title %></h3>
              <p class="panel-text content"><%= post.content.truncate(100) %></p>
							<p class="panel-text autor">Postado por <%= post.autor %></p>
              <a><%= link_to 'Leia mais', post %></a>
            </div>
          </div>
        </div>

      <% end %>

    </div>



    </div>
