<p id="notice"><%= notice %></p>
<div class="text-center">
  <div class="container-fluid main main-posts">
    <div class="row text-center">
      <div class="col-md-2">
        <div class="panel" style="width: 20rem;">
          <div class="panel-body">
            <h5 class="font-weight-bold mb-3 upvote-title">Curtidas</h5>
            <p>199 <a><%= link_to fa_icon(:star), home_index_path %></a></p>
          </div>
        </div>
      </div>
      <div class="col-md-10 post text-justify">
        <div class="">
          <h2 class="post-title"><%= @post.title %></h2>
        </div>
        <hr>
        <div >
          <p class="post-autor"> <%= @post.autor %></p>
        </div>
        <div >
          <p class="post-date"> <%= @post.created_at %></p>
        </div>
        <hr>
        <div class="col-md-8">
          <div >
            <p class=""><%= simple_format(h(@post.content), class: "post-body") %></p>
          </div>
          <span>
            <%= raw @post.tags.map { |tag| link_to tag.name, tag_path(tag), class: "label label-info tag-label" }.join(' ') %>
          </span>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
