<p id="notice"><%= notice %></p>
<div class="text-center">
  <div class="container-fluid main main-comments">
    <div class="row text-center">
      <div class="col-md-2">
        <div class="panel" style="width: 20rem;">
          <div class="panel-body">
            <h5 class="font-weight-bold mb-3 upvote-title">Curtidas</h5>
            <p>199 <a><%= link_to fa_icon(:star), home_index_path %></a></p>
          </div>
        </div>
      </div>
      <div class="col-md-10 post text-justify">
        <hr>
        <div >
          <p class="comment-autor"> <%= @comment.author %></p>
        </div>
        <div >
          <p class="comment-date"> <%= @comment.created_at %></p>
        </div>
        <hr>
        <div class="col-md-8">
          <div >
            <p class=""><%= simple_format(h(@comment.body), class: "comment-body") %></p>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
