<%= form_for(@user) do |form| %>
<div class="form">
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li class="alert alert-danger"><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin">
      <span id="reauth-email" class="reauth-email"></span>
      <%= form.text_field :name,placeholder: "Nome...", class: "form-control input inputField " %>
      <br>
      <%= form.password_field :password,placeholder: "Senha...", class: "form-control input inputField" %>
      <br>
      <%= form.password_field :password_confirmation,placeholder: "Confirme a senha...", class: "form-control input inputPassword" %>
      <br>
      <%= form.submit 'Cadastrar-se',value:'Cadastrar-se', class: "btn btn-success btn-lg button" %>
    </form>
  </div>
</div>
<% end %>
