

  <%= form_tag do %>
  <fieldset>
    <div class="container">

      <div class="row form login">
        <%if notice %>
          <p id="notice" class="alert alert-success"><%= notice %></p>
        <% end %>
        <div class="col-md-12">
          <br>
          <% if flash[:alert] %>
          <p id="notice" class="alert alert-danger"><%= flash[:alert] %></p>
          <% end %>
          <form class="text-center">
            <legend>Login</legend>
            <div class="form-group">
              <%= label_tag :name, 'Usuário:' %>
              <%= text_field_tag :name, params[:name], class: "form-control" %>
            </div>
            <div class="form-group">
              <%= label_tag :password, 'Senha:' %>
              <%= password_field_tag :password, params[:password], class: "form-control" %>
            </div>
            <div class="form-group">
              <br>
              <%= submit_tag "Entrar", class: "btn btn-info" %>
            </div>
          </fieldset>
          <% end %>
        </div>
      </div>

    </div>
